@use '../assets/styles/mixins' as mixin;

.header {
    padding: 10px 20px;
    background-color: var(--white-nav);
    box-shadow: var(--box-shadow-nav);
    img {
        width: 145px;
        padding-left: 20px;
    }
    position: relative;
    height: 58px;
}

.headerList{
    @include mixin.xs {
        display: none;
    }
}

.headerXs{
    display: none;
    cursor: pointer;
    transition: opacity 0.2s;
    color: var(--primary);
    &:hover{
        opacity: 0.8;
    }
    @include mixin.xs {
        display: block;
    }
}